<div class="home__index">
  <div class="home__content">

    <h1>Hello, world!</h1>

    <p>
      This is my new blog. Powered by Rails!
    </p>
    <p>
      Photo by
      <%= link_to 'nicowa', 'http://www.flickr.com/photos/nicowa/6269843625/' %>
    </p>

    </div>
</div>
